@{
    ViewData["Title"] = "Messages.PageNotFound";
}

<div class="margin-sm">
    <h1 class="text-danger">
        Messages.PageNotFoundTitle
    </h1>
</div>
<p class="lead">
    Messages.PageNotFoundText
</p>
<p>
    Messages.PageNotFoundCanDo
</p>
<ul>
    <li>Messages.PageNotFoundTextOption1</li>
    <li>Messages.PageNotFoundTextOption2</li>
</ul>
