<log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
        <bufferSize value="1" />
        <reconnectOnError value="true"/>
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <commandText value="INSERT INTO [MessageLogs] ([CreatedAt],[Thread],[Level],[Logger],[Message],[Exception],[Context]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@context)" />
        <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawUtcTimeStampLayout" />
        </parameter>
        <parameter>
            <parameterName value="@thread" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%thread" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@log_level" />
            <dbType value="String" />
            <size value="50" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%level" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@logger" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%logger" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@message" />
            <dbType value="String" />
            <size value="-1" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message" />
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@exception" />
            <dbType value="String" />
            <size value="-1" />
            <layout type="log4net.Layout.ExceptionLayout" />
        </parameter>
        <parameter>
            <parameterName value="@context" />
            <dbType value="String" />
            <size value="-1" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{context}" />
            </layout>
        </parameter>
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
        <level value="DEBUG" />
        <appender-ref ref="AdoNetAppender" />
    </root>

    <logger name="ADONetLogger">
        <appender-ref ref="AdoNetAppender" />
    </logger>

</log4net>